<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=ad916104-40b2-4777-91f4-a14e015472c6.sqlserver.sequelizer.com;Database=dbad91610440b2477791f4a14e015472c6;User ID=ptkzdccttvlivbvy;Password=WddUmTatw48SRXSCiT2rAiiZFGztA8gviPJjBnUZTeGogvd6f6kekGDN4koLtP2x;" />
  </connectionStrings>
</configuration>